:root {
	--primary: #BB0826;
	--secondary: #FCC60A;
	--tertiary: #FCEDC5;
	--black: #000000;
	--white: #FFFFFF;
}

/*Table formatting*/
table {
	width: 100%;
	background-color: var(--secondary);
	color: var(--primary);
	font-size: 20px;
}

tr {
	border: 5px solid white;
}

td {
	padding: 15px;
}