<!-- HTML -->
<html id="content">
	<head th:replace="fragment.html :: header"></head>
	<body class="background">
		<!-- Navbar -->
		<div th:replace="fragment.html :: navbar"></div>

		<!-- Input Form -->
		<form autocomplete="on" method="post" class="xy-center" style="position: fixed; color: var(--primary); font-size: 3.5vh;">
			<label>Username:<br>
				<input type="text" name="username" required autofocus class="input">
			</label><br>
			<label>Password:<br>
				<input type="password" name="pass1" required class="input">
			</label><br>
			<label>Confirm Password:<br>
				<input type="password" name="pass2" required class="input">
			</label><br><br>
			<input type="submit" value="Create Account" class="button" style="width: 100%; font-size: 3.5vh;"><br><br>
			<div style="text-align: center;">
				<a href="login" style="font-size: 2.5vh;">Already a User? Login Here</a>
			</div><br>
			<p style="position: absolute; text-align: center;" th:text="${error}"></p>
		</form>
		<!-- End Input Form -->
	</body>

	<!-- JS -->
	<div th:replace="fragment.html :: script"></div>
	<script>
	</script>
	<!-- End JS -->
</html>