<!-- HTML -->
<html id="content">
	<head>
		<div th:replace="fragment.html :: header"></div>
		<!-- CSS -->
		<style>
		</style>
		<!-- End CSS -->
	</head>
	<body class="background" style="overflow: hidden;">
		<!-- Navbar -->
		<div th:replace="fragment.html :: navbar"></div>

		<!-- Landing page options -->
		<!-- End Landing page options -->
		<p style="position: absolute; text-align: center;" th:text="${menu}"></p>
		<h1>Our Menu: </h1>
	<ul>
		<c:forEach items="${menu}" var="products">
			<b>Id:</b>
			<li>${products.productId}</li>
			<b>Name:</b>
			<li>${products.name}</li>
			<b>Description:</b>
			<li>${products.description}</li>
			<b>Price:</b>
			<li>${products.price}</li>

		</c:forEach>
	</ul>
		
	</body>

	<!-- JS -->
	<script>
		// To open the navbar buttons
		$(document).ready(function() {
			$('.first-button').on('click', function () {
				$('.animated-icon1').toggleClass('open');
			});
		});
	</script>
	<!-- End JS -->
</html>